.email{
 padding:1.5rem ;
 color: var(--grey);
 border-radius: 5px 0 5px 5px;
 border: 1px solid var(--grey);
 border-collapse: collapse;
 border-right: none;
 margin: 0.8rem 0;
}
.footerbutton{
    padding: 1.5rem;
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--red);
    border-left: none;
}
.footerItem{
    padding-right: 5rem;
}
.footercontent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerlist{
    display: flex;
    justify-content: space-evenly;
  }
/* ====responsive===== */
 @media (max-width:992px) and (min-width:768px) {
    .footerItem{
    padding-right: 2rem;
  }
  
 }
  @media (max-width:767px) and (min-width:343px){
   .footercontent{
    display: block;
  }
   .footerItem{
    padding-top: 2rem;
  }
  .footerlist{
    justify-content: left;
    margin-bottom: 2rem;
  }
  }
